body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.display {
  order: 2;
}

.btnArea {
  order: 3;
}

.videoZone {
  background-color: skyblue;
  width: 700px;
  height: 400px;
  order: 1;
}

.howto_p {
  text-align: center;
  /* margin-left: 40px; */
}