#data
/db/data/**
!/db/data/.gitkeep
#sql
/db/sql/**
!/db/sql/.gitkeep
#cache
/my_app/__pycache__
/my_app/migrations/__pycache__
/my_app/migrations/versions/__pycache__
#audio
/my_app/audio/**
!/my_app/audio/.gitkeep
/my_app/static/audio/**
!/my_app/static/audio/.gitkeep
#log
/my_app/logs.log
#csv
/my_app/predict.csv