<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin</title>
  <style>
    .table-area{
      width: 680px;
      margin: 0 auto;
    }
  </style>
</head>

<body style="background-color: skyblue;">
  <div class="table-area">
    <table>
      <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>真似した役柄</th>
        <th>話者認識結果</th>
        <th>tenflag</th>
      </tr>
      {% for recog in recogs %}
      <tr>
        <td>{{recog.id}}</td>
        <td>{{recog.name}}</td>
        <td>{{recog.role}}</td>
        <td>{{recog.result}}</td>
        <td>{{recog.tenflag}}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>id</th>
        <th>ユーザー名</th>
        <th>真似した役柄</th>
        <th>話者認識結果</th>
        <th>tenflag</th>
      </tr>
    </table>
  </div>

  <div id="skip"></div>
  <br>
  <form action="{{url_for('index')}}" method="get">
    <button type="submit">戻る</button>
  </form>
</body>

<script>
  const skip = document.getElementById('skip');
  window.onload = () => {
    skip.scrollIntoView({behavior:"smooth"});
  }
</script>
</html>