<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>発話トレーニングシステム</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div id="display" class="display"></div>
    <div class="videoZone"></div>

    <div class="btnArea">
        <button id="btn">ボタン</button>
        <button id="recStart" disabled>録音開始</button>
        <button id="recStop" disabled>録音停止</button>
        <a hidden id="download">Download</a>
        <form action="{{url_for('index')}}" method="get">
            <button type="submit" id="backBtn" style="display:none;">戻る</button>
        </form>
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>