<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>使い方</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
</head>
<body>
  <h1>使い方</h1>

  <p class="howto_p">
    この発話トレーニングシステムでは<br>男の子・少年・成人男性・おじさん・おじいさん<br>
    女の子・少女・成人女性・おばさん・おばあさん<br>
    の１０種類の役柄をトレーニングすることができます。
  </p>
  <p class="howto_p">
    全ての役柄をトレーニングしたい場合は<a href="#">”全ての役柄”</a>を、<br>
    男性のみの役柄をトレーニングしたい場合は<a href="#">”男性の役柄のみ”</a>、<br>
    女性のみの役柄をトレーニングしたい場合は<a href="#">”女性の役柄のみ”</a><br>
    をクリックしてください
  </p>

  <p class="howto_p">
    例えば<a href="#">”男性の役柄のみ”</a>をクリックした場合、名前を入力するポップアップウィンドウがでます。<br>
    <img src="{{url_for('static', filename="explain_image/explain_popup.jpg")}}" alt="" width="600px"><br>
    名前を入力するとトレーニングが始まります。<br><br>
    ボタンを押すことでシナリオを読み進めることができます。<br>
    <img src="{{url_for('static', filename="explain_image/explain_btn.jpg")}}" alt=""><br><br>
    あるところまで読み進めると、表示されている３Dモデルが「こんにちは」とあいさつをします。<br><br>
    <img src="{{url_for('static', filename="explain_image/explain_greeting.jpg")}}" alt="" width="600px"><br><br>
    あいさつを聞いたら、録音開始ボタンを押して真似して「こんにちは」を言ってください。<br>
    <img src="{{url_for('static', filename="explain_image/explain_recStart.jpg")}}" alt=""><br><br>
    言い終わったら録音停止ボタンを押して、またシナリオを読み進めてください。<br>
    <img src="{{url_for('static', filename="explain_image/explain_recStop.jpg")}}" alt=""><br><br>
    最後の役柄まで繰り返したら戻るボタンが出現するのでそこからメイン画面に戻ってください。<br>
  </p>

  <p class="howto_p">
    トレーニング後、話者認識の結果を確認することができます。
    <!-- <img src="{#{url_vor('static', filename='explain_image/')}#}" alt=""> -->
  </p>

  <form action="{{url_for('index')}}" method="get">
    <button type="submit" style="width:50px; margin: 30px auto;">戻る  </button>
  </form>
  
</body>
</html>