<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>発話トレーニングシステム</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>選んでください</h1>
        <ul>
            <li><a href="{{url_for('all')}}">全ての役柄</a></li>
            <li><a href="{{url_for('men')}}">男性の役柄のみ</a></li>
            <li><a href="{{url_for('women')}}">女性の役柄のみ</a></li>
            <li><a href="{{url_for('result_all')}}">結果確認（全ての役柄）</a></li>
            <li><a href="{{url_for('result_mw')}}">結果確認（男性のみor女性のみ）</a></li>
        </ul>
        <p><a href="{{url_for('howto')}}">使い方</a></p>

        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>