{% extends "base.html" %}

{% block content %}

<!-- <div id="display"></div>
<button id="btn">ボタン</button>
<button id="recStart" disabled>録音開始</button>
<button id="recStop" disabled>録音停止</button>
<a hidden id="download">Download</a>

<div class="videoZone">
</div> -->

<!-- <div class="audioZone">
  <button id = "btn">音が鳴るよ！</button>
  <audio id = "btn_audio">
    <source src="" type="audio/wav" media="" />
  </audio>
</div> -->

<script type="text/javascript" src="{{url_for('static', filename='js/func.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/women.js')}}"></script>

{% endblock %}